#heading {
    color: red;
    text-decoration: line-through;
    background-color: pink;
}

.headings-class {
    color: red;
    text-decoration: line-through;
    background-color: pink;
}


p{
    color: red;
    background-color: white;
    text-emphasis-color: blue;
}

body {
    background-color: pink;
}

button {
    background-color: red;
    color: darkblue;
     
}